@media (min-width: 1280px) {
  body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
  }
  article#main{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url("wildebeest5.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 170vh;
  }
  article#main div{
    position: absolute;

    font-size: 5em;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 81vh 0 0 55vw;
    text-align: right;
  }
  article#main div p{
    margin: 3vh 0 0 0;

  }
  article form{
    position: absolute;
    margin: 95vh 0 0 88vw;
  }
  article form input{
    height: 3vh;
    border-radius: 25px;
    color: #666;
  }
  .title{
    font-family: "Allura";
    line-height: 0;
    font-size: .8em;
    color: #FACD8F;
  }
  .miles{
    color: #BA823D;
  }
  .details{
    line-height: 0;
    font-size: .5em;
    text-align: right;
    color: #BA823D;
    margin: -10vh 0 0 0;
  }

}

@media (min-width: 200px) and (max-width: 1279px) {
  body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
  }
  article#main{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-image: url("wildebeest8.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 170vh;
  }
  article#main div{
    position: absolute;
    font-size: 5em;
    font-family: sans-serif;
    font-weight: bolder;
    margin: 38vh 0 0 17vw;
    text-align: right;
  }
  article#main div p{
    /* margin: 3vh 0 0 0; */

  }
  article form{
    position: absolute;
    margin: 95vh 0 0 88vw;
  }
  article form input{
    height: 3vh;
    border-radius: 25px;
    color: #666;
  }
  .title{
    font-family: "Allura";
    /* line-height: 0; */
    font-size: .7em;
    color: #FACD8F;
    margin: 0;
  }
  .miles{
    color: #BA823D;
    font-size: .9em;
    margin: 0;
    text-align: center;
  }
  .details{
    font-size: .4em;
    text-align: center;
    color: #FACD8F;
    margin: 0;
  }
}
